.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  border: 1px solid red;
}

.text{
  margin: 0;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color:  #f2f2f2;
  border: 1px solid red;
  min-height: 650px;
  max-height: 756px;
  display: flex;
  position: relative;
}

.header__logo{
  background-image: url(../images/logo_place_header.svg);
  border: 1px solid red;
  width: 183px;
  height: 32px;
  z-index: 2;
}

.header__logo_place_header{
  position: absolute;
  left: 64px;
  top: 30px;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__title {
  border: 1px solid red;
  width: 730px;
  display: flex;
  align-self: center;
  margin-left: 64px;
  z-index: 2;
}

.header__title_text{
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}

.header__subtitle{
  border: 1px solid red;
  position: absolute;
  bottom: 30px;
  left: 63px;
  z-index: 2;
  width: 388px;
}

.header__subtitle_text{
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__main-illustration{
  border: 1px solid red;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 756px;
  height: 608px;
  background-image: url(../images/header-image.png);
  background-size: cover;
  z-index: 1;
  
}

.header__square-pic {
  height: 568px;
  width: 568px;
  border: 1px solid red;
  position: absolute;
  top: 68px;
  right: 0;
  background-color: #2f80ed;
}

/* и элемента с модификатором вида ключ-значение */


.description {
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

.two-columns {
  border: 1px solid red;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief{
  border: 1px solid red;
  display: flex;
  width: 175px;
}

.two-columns__title {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  color: #2f80ed;
}

.two-columns__main-text{
  border: 1px solid red;
  display: flex;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__main-text li {
  margin-bottom: 30px;
}

.two-columns__main-text li:last-of-type {
  margin-bottom: 0;
}

.digits {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.section-title__text{
  text-align: center;
  margin: 0;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;

}

.section-subtitle {
  width: 60%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0 0 0;
  padding: 0;
}

.section-subtitle__text{
  text-align: center;
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.table {
  border: 1px solid red;
  width: 1100px;
  padding: 0;
}

.table__cell {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.table__point {
  width: 250px;
  border: 1px solid red;
  padding: 0;
  margin: 60px 0 0 0;
}

.table__text-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
  margin: 0;
}

.table__text-first {
  padding: 0;
  margin: 20px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.table__text-second {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.feynman{
  border: 1px solid red;
  height: 890px;
  background-color:  #f2f2f2 ;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.feynman__title {
  border: 1px solid red;
  margin: 100px 0 0 0;
  text-align: center;
  width: 648px;
}

.feynman__text-main {
  margin: 0;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
}

.feynman__subtitle {
  border: 1px solid red;
  text-align: center;
  margin-top: 70px;

}

.feynman__text-secondary {
  margin: 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__link-text {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
  border: 1px solid red;
}

.kaufman{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 90px 0;
  background-color:#1f1f1f;
  overflow: hidden;
  position: relative;
}

/*.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  border: 1px solid red;
}*/

.table__cell_theme_dark {
  background-color: rgba(255, 255, 255, 0);
}

.table__text_theme_dark {
  color: white;
}

.table__theme_dark {
  z-index: 1;
}

.table__point_theme_dark{
  width: 200px;
}

.table__img-triangle {
  position: absolute;
  right: -210px;
  top: 0px;
  width: 877px;
  height: 877px;
}